/**FONTS**/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap'); /**bold**/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); /**medium**/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); /**regular**/




/*COLORS*/

:root{
    --colorDefault: #ffff00;
    --whiteColor: #ffffff;
}




/*LOADER*/

.loading{
    margin: 0 auto;
    position: fixed;
    background-color: var(--whiteColor);
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeOut 1s;
    -webkit-animation-fill-mode: forwards;
    -o-animation: fadeOut 1s;
    -o-animation-fill-mode: forwards;
    -moz-animation: fadeOut 1s;
    -moz-animation-fill-mode: forwards;
}
.main{
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}
.dot{
    border: 5px solid #000000;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}
.dot2{
    border: 5px solid var(--colorDefault);
    border-radius: 50px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: -5px -5px;
    border-left-color: transparent;
    border-top-color: transparent;
    animation: loader 1s linear;
    animation-iteration-count: infinite;
    -webkit-animation: loader 1s linear;
    -webkit-animation-iteration-count: infinite;
    -o-animation: loader 1s linear;
    -o-animation-iteration-count: infinite;
    -moz-animation: loader 1s linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;
    }
}

/*LOADER END*/



/*SCROLL-BAR*/

::-webkit-scrollbar{
    width: 3px!important;
}
::-webkit-scrollbar-thumb{
    background-color: var(--colorDefault)!important;
    border-radius: 50px!important;
}
::-webkit-scrollbar-track{
    background-color: #000000;
}

html{
    scroll-behavior: smooth;
}


body {
    background-color: #c5bcbc7e;
  }
  


/*NAVBAR*/

.navbar{
    background-color: transparent!important;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
#nav.fixed{
    background-color: #000000d0!important;
    padding: 0;
}
.navbar-brand{
    padding-left: 10rem;
}
.navbar-nav{
    margin: 0 45rem auto;
}
.navbar-nav > li{
    font-size: 1.2rem;
    margin: 15px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;  
}
.nav-link{
    color: var(--whiteColor)!important;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.nav-link:hover{
    color: var(--colorDefault)!important;
}




/*HOME section*/

.home{
    background: url("../images/header/img.jpg") no-repeat;
    background-size: cover;
    height: 44rem;
}
.col-md-6{
    margin: 33% auto;
}
.titles > p{
    font-size: 1.8rem;
    text-align: center;
    color: var(--whiteColor);
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}
.titles > h3{
    font-size: 3.1rem;
    text-align: center;
    color: var(--whiteColor);
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 0.7rem;
}
.button{
    width: 100%;
    text-align: center;
    margin-top: 2.5rem;
}
.button > a{
    background-color: rgba(255, 217, 0, 0.844);
    color: #333;
    padding: 0.6rem 1.5rem;
    border-radius: 50px;
    font-size: 1.6rem;
    border: 3px solid rgb(133, 119, 37);
    font-weight: bold;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out; 
  -o-transition: 0.4s ease-in-out;
   }
   .button > a:hover {
    background-color: #333;
    color: gold;
    border: 3px solid #fff;
   }




/*SERVICES section*/

.services{
    padding: 5rem 0 5rem;
}
.services > .container > h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}
.services > .container > .row > .col-md-4 > .card{
    border: none;
    border-radius: 0;
    background-color: transparent;
    margin-top: 2rem;
}
.services > .container > .row > .col-md-4 > .card > .card-header{
    text-align: center;
    border-bottom: none;
    background-color: transparent;
}
.card > .card-header > i{
    font-size: 4rem;
    background-color: rgba(255, 217, 0, 0.473);
    color: #444;
    padding: 1.1rem;
    border-radius: 50px;
    border: 1px solid #999;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
.card > .card-header > i:hover {
    background-color: #444;
    color: gold;
    border: 1px solid gold;
   }

.card > .card-body{
    text-align: center;
}
.card > .card-body > h3 {
    margin-bottom: 1rem;
}





/*PORTFOLIO section*/


.portfolio{
    padding: 5rem 0 5rem;
}
.portfolio > .container > h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}
.col-md-4 > .card > .card-header > img{
    width: 100%;
}
.card{
    border: none;
    border-radius: 0;
}
.card > .card-header{
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
.card-header > .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 271px;
    background: rgba(255, 217, 0, 0.436);
    opacity: 0;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.overlay:hover{
    opacity: 1;
}
.overlay > h4{
    text-align: center;
    margin-top: 6rem;
    font-size: 2.3rem;
    color: #333;
    font-family: 'Roboto', sans-serif;
}
.overlay > p{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}




/*ABOUT section*/

.about{
    padding: 5rem 0 5rem;
}
.about > .container > h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}
.about > .container > .row > .col-md-4{
    margin-top: 3rem;
    margin-left: 1rem;  
}

.about > .container > .row > .col-md-4 > img {
    width: 170%;
   
}

.about > .container > .row > .col-md-4:nth-child(2){
    margin-left: 16rem;
    margin-top: 5rem;
}
.about > .container > .row > .col-md-4:nth-child(2) > .info {
    width: 125%;
}

.info > h4{
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.info > p {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    margin: 2rem 0 2rem;
}
.info > ul{
    margin-left: -2rem;
    display: inline;
    justify-content: center;
}
.info > ul > li {
    list-style-type: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}
ul > li > .firstSpan{
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
ul > li > .secondSpan{
    color: #808080;
    letter-spacing: 0.5px;
    margin-top: 3px;
}




/*FOOTER section*/

.footer {
    background-color: #000000d0;
    padding: 10px;
   
  }
  .copyroght {
    width: 150%;
   margin-top: 5px;
  }

  .copyroght > a {
    color:  #fff;
    font-size: 1.2rem;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
  .copyroght > a:hover {
    color: gold;
  }
  
  .social-networks {
    margin-left: 11rem;
   
    }
  
  .social-networks > a {
    text-decoration: none;
    margin-left: 0.5rem;
    }
  .social-networks > a > i {
    width: 40px; 
    height: 40px;
    background-color: rgb(195, 168, 15);
    color:#333;
    text-align: center;
    line-height: 40px;
    font-size: 1.9rem;
    border-radius: 50px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
  .social-networks > a > i:hover {
  background-color: #333;
  color: gold;
  }
  
  .schools {
    text-align: center;
    font-size: 1.5rem;
   
  }
  
  .schools > a {
    text-decoration: none;
    color:  #fff;
    letter-spacing: 2px;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
  }
  .schools > a:hover {
    color:  gold;
  }
  









        /*RESPONSIVE*/

@media screen and (max-width: 1200px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 90px;
        height: 90px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 1.3rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 25rem;
    }
    .navbar-nav > li{
        margin: 10px
    }

    /**HOME**/

    .home{
        height: 36rem;
    }
    .col-md-6{
        margin: 25% auto;
    }
    .titles > p{
        font-size: 1.5rem;
    }
    .titles > h3{
        font-size: 3.5rem;
    }
    .button{
      margin-left: 0;
      margin-top: 1rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    /**SERVICES**/

    .services > .container > h3{
        font-size: 2.5rem;
    }
    .services > .container > p{
        font-size: 1.2rem;
    }
    .card > .card-header > i{
        font-size: 2.5rem;
    }

    /**PORTFOLIO**/
    .portfolio {
        padding-top: 0;
    }

    .portfolio > .container > h3{
        font-size: 2.5rem;
    }
    .portfolio > .container > p{
        font-size: 1.2rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 2.2rem;
        margin-top: 4.5rem;
    }


    /**ABOUT**/
    .about {
        padding-top: 0;
        padding-bottom: 3rem;
    }

    .about > .container > h3{
        font-size: 2.5rem;
    }
    .about > .container > p{
        font-size: 1.2rem;
    }
    
    .about > .container > .row > .col-md-4{
        margin-left: 0;
        margin-top: 1rem;
     }
     .about > .container > .row > .col-md-4 > img {
         width: 185%;
     }
 
     .about > .container > .row > .col-md-4:nth-child(2){
      width: 150%;
         margin-left: 16rem;
       margin-top: 2.5rem;
     }
     .info > h4{
         font-size: 1.4rem;
     }
     .info > p{
         font-size: 1rem;
     }
      
     .info > ul > li{
         width: 100%;
      }
  
      ul > li > .firstSpan {
          font-size: 1.2rem;
         }
      ul > li > .secondSpan {
          font-size: 1.1rem;   
         }
 


    /**FOOTER**/
    .footer {
        padding: 0;  
      }
  
      .copyroght {
        width: 150%; 
      text-align: center;
      }
      .copyroght > a {
        font-size: 1.4rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 7rem;
          margin-top: 10px;
         }
        
         .social-networks > a > i {
            width: 50px; 
            height: 50px;
            line-height: 50px;
            font-size: 2.7rem;
         }

         .schools {
           margin-top: 12px;
         }
         .schools > a {
              font-size: 1.7rem;
           }
    
}

@media screen and (max-width: 1024px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 90px;
        height: 90px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 1.3rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 25rem;
    }
    .navbar-nav > li{
        margin: 10px
    }

    /**HOME**/

    .home{
        height: 36rem;
    }
    .col-md-6{
        margin: 25% auto;
    }
    .titles > p{
        font-size: 1.5rem;
    }
    .titles > h3{
        font-size: 3.5rem;
    }
    .button{
       margin-left: 0;
       margin-top: 1.2rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    /**SERVICES**/

    .services > .container > h3{
        font-size: 2.2rem;
    }
    .services > .container > p{
        font-size: 1rem;
    }
    .card > .card-header > i{
        font-size: 2.2rem;
    }

    /**PORTFOLIO**/

    .portfolio {
        padding-top: 0;
    }

    .portfolio > .container > h3{
        font-size: 2.2rem;
    }
    .portfolio > .container > p{
        font-size: 1rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 2.2rem;
        margin-top: 4.5rem;
    }


    /**ABOUT**/
    .about {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 2.2rem;
    }
    .about > .container > p{
        font-size: 1rem;
    }
    .about > .container > .row > .col-md-4{
       margin-left: 0;
       margin-top: 1rem;
    }
    .about > .container > .row > .col-md-4 > img {
        width: 185%;
    }

    .about > .container > .row > .col-md-4:nth-child(2){
     width: 150%;
        margin-left: 16rem;
      margin-top: 2.5rem;
    }
    .info > h4{
        font-size: 1.4rem;
    }
    .info > p{
        font-size: 1rem;
    }
     
    .info > ul > li{
        width: 100%;
     }
 
     ul > li > .firstSpan {
         font-size: 1.2rem;
        }
     ul > li > .secondSpan {
         font-size: 1.1rem;   
        }


    /**FOOTER**/
    .footer {
        padding: 0;  
      }
  
      .copyroght {
        width: 150%; 
      text-align: center;
      }
      .copyroght > a {
        font-size: 1.4rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 7rem;
          margin-top: 10px;
         }
        
         .social-networks > a > i {
            width: 50px; 
            height: 50px;
            line-height: 50px;
            font-size: 2.7rem;
         }

         .schools {
           margin-top: 12px;
         }
         .schools > a {
              font-size: 1.7rem;
           }
   
}

@media screen and (max-width: 976px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 90px;
        height: 90px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 1rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 13.5rem;
    }
    .navbar-nav > li{
        margin: 10px
    }

    /**HOME**/

    .home{
        height: 36rem;
    }
    .col-md-6{
        margin: 35% auto;
    }
    .titles > p{
        font-size: 1.5rem;
    }
    .titles > h3{
        font-size: 3rem;
    }
    .button{
       margin-left: 0;
       margin-top: 1rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    /**SERVICES**/

    .services > .container > h3{
        font-size: 2.1rem;
    }
    .services > .container > p{
        font-size: 1rem;
    }
    .card > .card-header > i{
        font-size: 2rem;
    }

    .card > .card-body > h3 {
        font-size: 1.5rem;
    }
    .card > .card-body > p {
        font-size: 0.8rem;
    }

    

    /**PORTFOLIO**/
    .portfolio {
        padding-top: 0;
    }

    .portfolio > .container > h3{
        font-size: 2.1rem;
    }
    .portfolio > .container > p{
        font-size: 1rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 1.6rem;
        margin-top: 3rem;
    }
    .overlay > p {
        font-size: 0.8rem;
    }


    /**ABOUT**/

    .about {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 2.1rem;
    }
    .about > .container > p{
        font-size: 1rem;
    }
    .about > .container > .row > .col-md-4{
       margin-left: 0;
       margin-top: 1.4rem;
    }
    .about > .container > .row > .col-md-4 > img {
        width: 190%;
    }

    .about > .container > .row > .col-md-4:nth-child(2){
       margin-left: 12rem;
       margin-top: 1rem;
       }
    .info > h4{
        font-size: 1rem;
      
    }
    .info > p{
      font-size: 0.8rem;
      margin-top: 10px;
    }
    .info > ul > li{
        width: 100%;
     }
 
     ul > li > .firstSpan {
         font-size: 0.9rem;
        }
     ul > li > .secondSpan {
         font-size: 0.8rem;   
        }

    /**FOOTER**/
    .footer {
        padding: 0px;  
      }
  
      .copyroght {
        width: 150%; 
      text-align: center;
      }
      .copyroght > a {
        font-size: 1rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 5rem;
          margin-top: 0.5rem;
         }
        
         .social-networks > a > i {
            width: 35px; 
            height: 35px;
            line-height: 35px;
            font-size: 1.8rem;
         }

           .schools {
           margin-right: 1rem;
             margin-top: 0.3rem; 
           }
           .schools > a {
              font-size: 1.2rem;
           }
    
}

@media screen and (max-width: 767px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 70px;
        height: 70px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 13.5rem;
    }
    .navbar-nav > li{
        margin: 10px
    }

    /**HOME**/

    .home{
        height: 36rem;
    }
    .col-md-6{
        margin: 50% auto;
    }
    .titles > p{
        font-size: 1.5rem;
    }
    .titles > h3{
        font-size: 2.9rem;
    }
    .button{
       margin-left: 0;
       margin-top: 1.3rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }

    /**SERVICES**/

    .services > .container > h3{
        font-size: 2.5rem;
    }
    .services > .container > p{
        font-size: 1rem;
    }
    .card > .card-header > i{
        font-size: 3rem;
    }

    /**PORTFOLIO**/

    .portfolio {
        padding-top: 0;
    }

    .portfolio > .container > h3{
        font-size: 2.5rem;
    }
    .portfolio > .container > p{
        font-size: 1rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 3rem;
        margin-top: 8rem;
    }


    /**ABOUT**/

    .about {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 2.5rem;
    }
    .about > .container > p{
        font-size: 1rem;
    }
    .about > .container > .row > .col-md-4{
       margin-left: 0;
       margin-top: 1rem;
    }
    .about > .container > .row > .col-md-4 > img {
        width: 100%;
    }

    .about > .container > .row > .col-md-4:nth-child(2){
      margin-top: 2.5rem;
      margin-left: 0;
      width: 85%;
    }
    .info > h4{
        font-size: 2rem;
    }
    .info > p{
       font-size: 1.2rem; 
    }
    
    .info > ul > li{
        width: 95%;
     }
 
     ul > li > .firstSpan {
         font-size: 1.7rem;
        }
     ul > li > .secondSpan {
         font-size: 1.5rem;   
        }



    /**FOOTER**/
    .footer {
        padding: 5px;  
      }
  
      .copyroght {
        width: 90%; 
        margin-left: 2rem;
        text-align: center;
      }
      .copyroght > a {
        font-size: 1.7rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 9.5rem;
          margin-top: 0.5rem;
         }
        
         .social-networks > a > i {
            width: 60px; 
            height: 60px;
            line-height: 60px;
            font-size: 3rem;
         }

           .schools {
             margin-left: 1rem; 
           }
           .schools > a {
              font-size: 1.9rem;
           }
  
    
}

@media screen and (max-width: 501px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 70px;
        height: 70px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 11.5rem;
    }
    .navbar-nav > li{
        margin: 10px
    }


    /**HOME**/

    .home{
        height: 35rem;
    }
    .col-md-6{
        margin: 50% auto;
    }
    .titles > p{
        font-size: 1.3rem;
    }
    .titles > h3{
        font-size: 3rem;
    }
    .button{
        margin-left: 0;
        margin-top: 1rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
    }

    /**SERVICES**/

    .services > .container > h3{
        font-size: 2.2rem;
    }
    .services > .container > p{
        font-size: 0.9rem;
    }
    .card > .card-header > i{
        font-size: 3rem;
    }

    /**PORTFOLIO**/
    .portfolio {
        padding-top: 0;
    }

    .portfolio > .container > h3{
        font-size: 2.2rem;
    }
    .portfolio > .container > p{
        font-size: 0.9rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 2.7rem;
        margin-top: 7.5rem;
    }


    /**ABOUT**/

    .about {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 2.2rem;
    }
    .about > .container > p{
        font-size: 0.9rem;
    }
    .about > .container > .row > .col-md-4{
       margin-top: 1rem;
       margin-left: 0;
    }
    .about > .container > .row > .col-md-4 > img {
        width: 100%;
    }

    .about > .container > .row > .col-md-4:nth-child(2){
        margin-top: 2rem;
        margin-left: 0;
        width: 85%;
    }
    .info > h4{
        font-size: 1.8rem;
    }
    .info > p{
        font-size: 1.1rem;
    }
   
    .info > ul > li{
        width: 96%;
     }
 
     ul > li > .firstSpan {
         font-size: 1.4rem;
        }
     ul > li > .secondSpan {
         font-size: 1.2rem;   
        }


    /**FOOTER**/
    .footer {
        padding: 5px;  
      }
  
      .copyroght {
        width: 90%; 
        margin-left: 1rem; 
        text-align: center;
      }
      .copyroght > a {
        font-size: 1.5rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 7.5rem;
          margin-top: 0.5rem;
         }
        
         .social-networks > a > i {
            width: 55px; 
            height: 55px;
            line-height: 55px;
            font-size: 2.8rem;
         }

           .schools {
             margin-left: 1rem; 
           }
           .schools > a {
              font-size: 1.7rem;
           }
    
}

@media screen and (max-width: 460px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 70px;
        height: 70px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 9.5rem;
    }
    .navbar-nav > li{
        margin: 10px
    }


    /**HOME**/

    .home{
        height: 35rem;
    }
    .col-md-6{
        margin: 55% auto;
    }
    .titles > p{
        font-size: 1.3rem;
    }
    .titles > h3{
        font-size: 2.7rem;
    }
    .button{
       margin-left: 0;
       margin-top: 1.2rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }

    /**SERVICES**/

    .services > .container > h3{
        font-size: 1.8rem;
    }
    .services > .container > p{
        font-size: 0.9rem;
    }
    .card > .card-header > i{
        font-size: 3rem;
    }

    /**PORTFOLIO**/

    .portfolio {
        padding-top: 0;
    }

    .portfolio > .container > h3{
        font-size: 1.8rem;
    }
    .portfolio > .container > p{
        font-size: 0.9rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 2.2rem;
    }


    /**ABOUT**/

    .about  {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 1.8rem;
    }
    .about > .container > p{
        font-size: 0.9rem;
    }
    .about > .container > .row > .col-md-4{
        margin-left: 0;
        margin-top: 1rem;
    }
    .about > .container > .row > .col-md-4 > img {
        width: 100%;
    }

    .about > .container > .row > .col-md-4:nth-child(2){
        margin-top: 2rem;
        margin-left: 0;
        width: 85%;
    }
    .info > h4{
        font-size: 1.5rem;
    }
    .info > p{
       font-size: 0.9rem;
    }
   
    

    .info > ul > li{
        width: 97%;
     }
 
     ul > li > .firstSpan {
         font-size: 1.3rem;
        }
     ul > li > .secondSpan {
         font-size: 1.1rem;   
        }
    



    /**FOOTER**/
    .footer {
        padding: 5px;  
      }
  
      .copyroght {
        width: 90%; 
        margin-left: 1rem; 
      }
      .copyroght > a {
        font-size: 1.5rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 5.5rem;
          margin-top: 0.5rem;
         }
        
         .social-networks > a > i {
            width: 55px; 
            height: 55px;
            line-height: 55px;
            font-size: 2.9rem;
         }

           .schools {
             margin-left: 1rem; 
           }
           .schools > a {
              font-size: 1.7rem;
           }
    
   
}

@media screen and (max-width: 400px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 70px;
        height: 70px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 7.5rem;
    }
    .navbar-nav > li{
        margin: 10px
    }


    /**HOME**/

    .home{
        height: 34rem;
    }
    .col-md-6{
        margin: 55% auto;
    }
    .titles > p{
        font-size: 1.2rem;
    }
    .titles > h3{
        font-size: 2.6rem;
    }
    .button{
       margin-left: 0;
       margin-top: 1.2rem;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
    }

    /**SERVICES**/

    .services {
        padding-bottom: 3rem;
    }

    .services > .container > h3{
        font-size: 1.8rem;
    }
    .services > .container > p{
        font-size: 0.9rem;
    }
    .card > .card-header > i{
        font-size: 3rem;
    }


    /**PORTFOLIO**/
    .portfolio {
      padding-bottom: 3rem;  
    }

    .portfolio > .container > h3{
        font-size: 1.8rem;
    }
    .portfolio > .container > p{
        font-size: 0.9rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 2.1rem;
        margin-top: 5.5rem;
    }


    /**ABOUT**/
    .about {
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 1.8rem;
    }
    .about > .container > p{
        font-size: 0.9rem;
    }
    .about > .container > .row > .col-md-4{
      margin-left: 0;
      margin-top: 1rem;
    }
    .about > .container > .row > .col-md-4 > img {
       width: 100%; 
    }

    .about > .container > .row > .col-md-4:nth-child(2){
       width: 83%;
       margin-left: 0;
    }
    .info {
        padding-top: 0;
    }
    .info > h4{
        font-size: 1.3rem;
    }
    .info > p{
       font-size: 0.9rem;
    }

    .info > ul > li{
        width: 98%;
     }
 
     ul > li > .firstSpan {
         font-size: 1.2rem;
        }
     ul > li > .secondSpan {
         font-size: 1rem;   
        }
    

    /**FOOTER**/
    .footer {
        padding: 5px;  
      }
  
      .copyroght {
        width: 100%; 
        margin-left: 0rem; 
      }
      .copyroght > a {
        font-size: 1.4rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 4.5rem;
          margin-top: 0.5rem;
         }
        
         .social-networks > a > i {
            width: 50px; 
            height: 50px;
            line-height: 50px;
            font-size: 2.5rem;
         }

           .schools {
             margin-left: 1rem; 
           }
           .schools > a {
              font-size: 1.6rem;
           }
    
}

@media screen and (max-width: 370px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 70px;
        height: 70px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 7.5rem;
    }
    .navbar-nav > li{
        margin: 10px
    }



    /**HOME**/

    .home{
        height: 33rem;
    }
    .col-md-6{
        margin: 55% auto;
    }
    .titles > p{
        font-size: 1.2rem;
    }
    .titles > h3{
        font-size: 2.5rem;
    }
    .button{
      margin-left: 0rem;
      margin-top: 1rem; 
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
    }



    /**SERVICES**/

    .services > .container > h3{
        font-size: 1.8rem;
    }
    .services > .container > p{
        font-size: 0.9rem;
    }
    .card > .card-header > i{
        font-size: 3rem;
    }

    .card > .card-body > p {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    


    /**PORTFOLIO**/
    .portfolio {
        padding-top: 3rem;
    }

    .portfolio > .container > h3{
        font-size: 1.8rem;
    }
    .portfolio > .container > p{
        font-size: 0.9rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 2.1rem;
        margin-top: 5rem;
    }


    /**ABOUT**/
    .about {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .about > .container > h3{
        font-size: 1.8rem;
    }
    .about > .container > p{
        font-size: 0.9rem;
    }
    .about > .container > .row > .col-md-4{
       margin-left: 0rem;
       margin-top: 1rem;
    }
    .about > .container > .row > .col-md-4 > img {
      width: 100%;  
    }

    .about > .container > .row > .col-md-4:nth-child(2){
        margin-top: 2rem;
        margin-left: 0;
        width: 85%;
    }
    .info > h4{
        font-size: 1.3rem;
    }
    .info > p{
       font-size: 0.9rem;
    }
    
    .info > ul > li{
       width: 95%;
    }

    ul > li > .firstSpan {
        font-size: 1.1rem;
       }
    ul > li > .secondSpan {
        font-size: 0.9rem;   
       }


    /**FOOTER**/
    .footer {
        padding: 5px;  
      }
  
      .copyroght {
        width: 100%; 
        margin-left: 0rem; 
      }
      .copyroght > a {
        font-size: 1.3rem;
        }
  
        .social-networks {
          display: flex;
          margin-left: 4.5rem;
          margin-top: 0.5rem;
         }

         .social-networks > a > i {
            width: 50px; 
            height: 50px;
            line-height: 50px;
            font-size: 2.5rem;
         }

           .schools {
             margin-left: 1rem; 
           }
           .schools > a {
              font-size: 1.4rem;
           }
  
}

@media (min-width: 315px) and (max-width: 330px){
    html, body{
        overflow-x: hidden;
    }

    .dot, .dot2{
        width: 70px;
        height: 70px;
    }

    .navbar > button{
        border: none!important;
    }
    .navbar > button:focus{
        box-shadow: none!important;
        outline: none!important;
    }
    .navbar-brand{
        padding: 0.5rem;
        font-size: 1rem;
    }
    .change{
        background-color: #000000!important;
    }
    .navbar-nav{
        margin: 0 6rem;
    }
    .navbar-nav > li{
        margin: 10px
    }


    /**HOME**/

    .home{
        height: 30rem;
    }
    .col-md-6{
        margin: 55% auto;
    }
    .titles > p{
        font-size: 1rem;
    }
    .titles > h3{
        font-size: 2.2rem;
    }
    .button{
        margin: 1.5rem 0rem auto;
    }
    .button > a{
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }


    /**SERVICES**/
    .services {
        padding-bottom: 0;
    }

    .services > .container > h3{
        font-size: 1.8rem;
    }
    .services > .container > p{
        font-size: 0.8rem;
    }
    .card > .card-header > i{
        font-size: 3rem;
    }

    .card > .card-body > p {
        font-size: 0.8rem;
    }

    

    /**PORTFOLIO**/

    .portfolio {
        padding-bottom: 0;
        padding-top: 3rem;
    }

    .portfolio > .container > h3{
        font-size: 1.8rem;
    }
    .portfolio > .container > p{
        font-size: 0.9rem;
    }
    .card-header > .overlay{
        width: 100%;
        height: 100%;
    }
    .overlay > h4{
        font-size: 1.9rem;
        margin-top: 4.5rem;
    }


    /**ABOUT**/

    .about {
       padding-bottom: 0.5rem;
       padding-top: 3rem;
    }

    .about > .container > h3{
        font-size: 1.8rem;
    }
    .about > .container > p{
        font-size: 0.9rem;
    }
    .about > .container > .row > .col-md-4{
        margin: 1.5rem 0rem 0;
    }
    .about > .container > .row > .col-md-4 > img  {
      width: 100%;
    }

    .about > .container > .row > .col-md-4:nth-child(2){
        margin: 2rem 0;
        width: 90%;
    }
    .info > h4{
        font-size: 1.1rem;
    }
    .info > p{
        margin: 1rem 0 0rem;
        font-size: 0.7rem;
    }
  
    .info > ul > li {
     width: 90%; 
    }
    
     ul > li > .firstSpan {
     font-size: 1rem;
    }
    ul > li > .secondSpan {
     font-size: 0.8rem;   
    }

    /**FOOTER**/

    .footer {
      padding: 5px;  
    }

    .copyroght {
      width: 100%; 
      margin-left: 0rem; 
    }
    .copyroght > a {
      font-size: 1.1rem;
      }

      .social-networks {
        display: flex;
        margin-left: 3.5rem;
        margin-top: 0.5rem;
         }
         .social-networks > a > i {
            width: 45px; 
            height: 45px;
            line-height: 45px;
            font-size: 2.4rem;
         }
      
         .schools {
           margin-left: 1rem; 
         }
         .schools > a {
            font-size: 1.3rem;
         }


}

       /** RESPANSIVE END **/